/* Navbar style  */

header{

background-image: url('../Assets/Hero-bg.png');


}


/* Used flex in the navbar  */
.logo-button-container{
display: flex;
justify-content: space-between;
}

/* List item design */
nav div ul li{

    list-style: none;
}


/* Text color */
nav h1{

    font-weight: 99px;
    color: #4E47FF;
}

/* Button color  */

.button-design{
    background-color: #4E47FF;
    border-radius: 5px;
    border:none;
margin: 25px 35px;
font-size: 15px;
color: beige;
    
}
.button-design:hover{
    background-color: #0bd1d1;
border-radius: 5px;

}



/* Starting Banner design  */


.banner-container{

  text-align: center;  
  font-size: 65px;
  margin-top: 158px;

}
.banner-button{

margin-left: 45%;
   margin-top: 30px;
   margin-bottom: 150px;
  width: 174px;
  height: 48px;
   
}
.banner-text {
    margin: 0 0 0 0 ;
}