.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        display: block;
}


/* Navbar style  */

header {

    background-image: url('../Assets/Hero-bg.png');


}

.header {


    display: flex;
}


.logo {
    color: #3f3fff;
    font-size: 22px;
    font-weight: bold;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}



.signup-btn {
    background-color: #3f3fff;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.signup-btn:hover {
    background-color: #34d4d4;
}




/* Button color  */
.button-control {

    margin: 25px 35px;

    height: 30px;
    border-width: 30px;
}

.button-design {
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;

    font-size: 15px;
    color: beige;

}

.button-design:hover {
    background-color: #0bd1d1;
    border-radius: 5px;

}



/* Starting Banner design  */


.banner-container {

    text-align: center;
    font-size: 65px;
    margin-top: 158px;

}

.banner-button {

    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 150px;
    width: 174px;
    height: 48px;

}

.banner-text {
    margin: 0 0 0 0;
}

/* 1st section part */
.action-container {
    display: flex;
    justify-content: space-between;
    position: 141px 814px;
    height: 141px;
    weight: 814px;
    display: fixed;

    margin: 100px 300px 100px 300px;
    gap: auto;
}

.img-sec1 {

    border-radius: 10px;
    margin-left: 0;
    height: 200px;
}

.button-action {
    height: 37px;
    width: 150px;  
}

.text-action {

    color: #252432;
}



/* 2ed Section use  */

.second-container {
    background-color: #ebebf1;
    margin: 100px 300px 100px 300px;
    border-radius: 15px;

}

.second-containers {
    margin-top: 20px;


}

.flex-container {

    display: flex;
    justify-content: space-between;
}

.design-list {

    list-style: none;
    font-size: 75px;
    color: #4E47FF;
    font-weight: 700;
    padding: 40px;


}

.sub-header {
    font-size: 25px;
    text-align: center;
    color: #9c9baa;

}

.main-header {
    text-align: center;
    font-size: 700;
    margin-top: 10%;

}


/* 3d Card section  */

.image-name-date {

    display: flex;


}

.card-item {

    display: flex;


}

.card-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;

}

.item-flex {
    list-style: none;
}


.card-section {


    display: flex;
    justify-content: space-between;

    border-radius: 10px;

    margin: 100px 300px 100px 300px;


}

.card-container {
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    border: 1px solid rgb(214, 213, 213);
    border-radius: 10px;
    font-size: small;
background-color:#ffffff;



}

ul.card-item{
    justify-content:start;
}


/* 4th section  */
.section-item {
    height: 550px;
    background-color: white;
    margin: 100px 300px 100px 300px;
    text-align: center;
    border-radius: 10px;


}

.center-point {
    text-align: center;
    justify-items: center;



}

.button-controls {


    margin: 10px 300px;

}

.section-img {

    text-align: center;
    width: 600px;
    border-radius: 10px;
}




/* <!-- 5th section   form --> */



.form-section {
    background-color: #f3fafa;
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.form-coloumn {
    width: 50%;
}

.form-coloumn input[type="text"],
.form-coloumn input[type="email"],

.form-coloumn input[type="submit"] {

    height: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 87%;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;

border-color: #a7a7a7;
}


.form-coloumn textarea {

    height: 90px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 87%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;



}

.form-coloumn input[type="submit"] {

    height: 50px;
    border-radius: 5px;
    background-color: #4E47FF;
    display: block;
    width: 97%;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;


}

.form-coloumn input[type="submit"]:hover {

    background-color: #0bd1d1;
}




/* Footer design  */

footer {

    margin: 100px 320px 100px 200px;

}

.footer-item {

    display: flex;
    list-style: none;
    justify-content: space-between;
    /* text-decoration: none; */
margin: 0px 200px 100px 150px;
}

main {
    background-color: #f3fafa;
}

.footer-item li a {

    color: #909696;
    text-decoration: none;

padding:0px;
margin: 0px;

}

.footer-background{

background-color: white;


}